---
version: 2.1
executors:
  python_executor:
    docker:
      - image: circleci/python:3.7.4
        auth:
          username: $DOCKER_USER_RO
          password: $DOCKER_PASSWORD_RO
  node_executor:
    docker:
      - image: circleci/node:lts-buster
        auth:
          username: $DOCKER_USER_RO
          password: $DOCKER_PASSWORD_RO
  shell_executor:
    docker:
      - image: circleci/buildpack-deps:buster-scm
        auth:
          username: $DOCKER_USER_RO
          password: $DOCKER_PASSWORD_RO

commands:
  install_node:
    description: "Install Node dependencies"
    steps:
      - restore_cache:
          keys:
            - deps-{{ checksum "package-lock.json" }}
      - run:
          name: update-npm
          command: 'sudo npm install -g npm@latest'
      - run:
          name: Install dependencies
          command: |
            npm ci

  save_node_cache:
    description: "Save Node dependencies"
    steps:
      - save_cache:
          paths:
            - ./node_modules
          key: deps-{{ checksum "package-lock.json" }}

jobs:
  dco:
    executor: shell_executor
    steps:
      - checkout
      - run:
          name: check
          command: |
            status=0
            while IFS= read -r -a line; do
              my_array+=( "$line" )
              done < <( git branch -r | grep -v origin/HEAD )
            for branch in "${my_array[@]}"
            do
              branch=$(echo "$branch" | xargs)
              echo "Checking commits in branch $branch for commits missing DCO..."
              while read -r results; do
                status=1
                commit_hash="$(echo "$results" | cut -d' ' -f1)"
                >&2 echo "$commit_hash is missing Signed-off-by line."
              done < <(git log "$branch" --no-merges --pretty="%H %ae" --grep 'Signed-off-by' --invert-grep -- )
            done
            exit $status

  build:
    executor: python_executor
    steps:
      - checkout
      - restore_cache:
          keys:
            - deps-{{ checksum "CI/requirements.txt" }}
      - run:
          name: install dependencies
          command: |
            python3 -m venv venv
            . venv/bin/activate
            pip install -q -r CI/requirements.txt
      - save_cache:
          paths:
            - ./venv
          key: deps-{{ checksum "CI/requirements.txt" }}
      - run:
          name: Run MkDocs
          command: |
            . venv/bin/activate
            mkdocs build -s

  vale:
    executor: python_executor
    steps:
      - checkout
      - run:
          name: Install dependencies
          command: |
            curl -sfL https://install.goreleaser.com/github.com/ValeLint/vale.sh | sh -s v2.6.6
      - run:
          name: Run Vale
          command: |
            ./bin/vale --config ./CI/vale/.vale.ini --glob='*.{md}' . | tee ./vale.out
      - store_artifacts:
          path: ./vale.out
          destination: ./vale.out

  linkchecker:
    executor: node_executor
    steps:
      - checkout
      - install_node
      - run:
          name: Run markdown link checker
          command: |
            npm run test:links
      - save_node_cache
      - store_artifacts:
          path: ./linkchecker.out
          destination: linkchecker.out

  markdownlint:
    executor: node_executor
    steps:
      - checkout
      - install_node
      - run:
          shell: /bin/bash #this is a non breaking command so it will always return success
          name: Run Markdownlint info checks
          command: |
            npm run test:markdown:info
      - run:
          name: Run Markdownlint
          command: |
            npm run test:markdown
      - save_node_cache
      - store_artifacts:
          path: ./markdownlint.out
          destination: ./markdownlint.out
      - store_artifacts:
          path: ./markdownlint_info.out
          destination: ./markdownlint_info.out

  repolint:
    executor: node_executor
    steps:
      - checkout
      - install_node
      - run:
          shell: /bin/bash #this is a non breaking command so it will always return success
          name: Run repolinter
          command: |
            npm run lint:repo
      - save_node_cache

workflows:
  version: 2
  default:
    jobs:
      - dco:
          context:
            - besu-dockerhub-ro
      - build:
          context:
            - besu-dockerhub-ro
      - vale:
          context:
            - besu-dockerhub-ro
      - markdownlint:
          context:
            - besu-dockerhub-ro
      - linkchecker:
          context:
            - besu-dockerhub-ro
      - repolint:
          context:
            - besu-dockerhub-ro

  nightly:
    triggers:
      - schedule: # GMT
          cron: "0 0 * * *"
          filters:
            branches:
              only:
                - master
    jobs:
      - linkchecker:
          context:
            - besu-dockerhub-ro

  weekly:
    triggers:
      - schedule:
          cron: "0 0 * * 0"
          filters:
            branches:
              only:
                - master
    jobs:
      - repolint:
          context:
            - besu-dockerhub-ro
